/* Customize the dot styles
.slick-dots li button:before {
  color: white !important; 
  font-size: 12px; 
}

.slick-dots li.slick-active button:before {
  color: white !important; 
  opacity: 1;
  font-size: 14px; 
}

.slick-center .relative {
  transform: scale(1.2); 
  transition: transform 0.5s ease; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}


.slick-slide {
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.slick-center .slick-slide {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.slick-prev, .slick-next {
  z-index: 10; 
}


.bg-customBlue {
  background-color: #0b1f4a;
}

@media (max-width: 768px) {
  .slick-center .relative {
      transform: scale(1.2); 
  }
} */
