@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.slick-slide > div {
  margin: 0 16px;
  display: flex;
  justify-content: flex-start;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #3f3f3f; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a8a8a899; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #000b44; 
}


@layer utilities {
  .ios-scrollbar {
    padding-right: 6px; /* Space for fake scrollbar */
    position: relative;
  }

  .ios-scrollbar::after {
    content: "";
    position: absolute;
    right: 2px;
    top: 0;
    width: 4px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  /* border-radius: 10px; */
  max-width: 200%;
  max-height: 200%;
  /* overflow: auto; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: white; Change to match your theme */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

.logo-loader {
  width: 120px;
  height: auto;
  animation: fadeIn 1s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  0% { opacity: 1; transform: scale(0.9); }
  100% { opacity: 3; transform: scale(1.2); }
}

